.eventBox
    .topRow
        section
            h3 Hamburg Meet-Up
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .status Free
        figure
            .month NOV
            .day 20
    a.location
        img(src="/images/location.svg")
        Netlight Consulting GmbH, Große Bleichen 23-27
        img(src="/images/external.svg")