footer
    .blueContainer
        h3 Build apps for any screen
        img(src="images/flutterLogo.png" alt="Flutter logo")
        p Flutter is an open source framework by Google for building beautiful, natively compiled, multi-platform applications from a single codebase.
    .darkContainer
        .withLove
            span Made with love from
            | 
            a(href="https://www.widgetsacademy.com") Widgets Academy
            | 
            span All rights reserved
        .links
            a(href="/") Privacy Policy
            a(href="/") Terms & Conditions
            a(href="/") Cookie Policy
            a(href="/") Contact