footer
    .blueContainer
        h3 Build apps for any screen
        img(src="/images/flutterLogo.png" alt="Flutter logo")
        p Flutter is an open source framework by Google for building beautiful, natively compiled, multi-platform applications from a single codebase.