.headerWrapper
    header
        a(href="/")
            img(src="/images/logo.svg" alt="logo")
        section.rightColumn
            .events
                .selected Next Event
                div Upcoming events
            button
                span Jobs
            img.burgerMenu(src="/images/burgerMenu.svg" alt="burger menu")