div
    h3 Looking for Talent?
    p We have a large network of Flutter developers and freelancers - from juniors to seniors, english and german speaking.
    p While we don't always know someone who fits your bill right away it usually pays out letting us know - we have successfully placed many Flutter and mobile candidates over the years.
    a(href="/")
        span Get in touch
div
    h3 Looking for a Job?
    p Are you already working with Flutter or interested in working with Flutter and currently looking for a job (preferably in Hamburg)?
    p Maybe we can place you at one of our partner companies or a company from our network. Most companies don't do visa sponsorship, so german citizenship or EU work visa usually a hard requirement.
    a(href="/")
        span Get in touch
