main
    section.topSection
        include eventBox.pug
        h1 Flutter
        h2 in Hamburg
        p Hamburg has one of the largest and most active Flutter communities in Germany, we have a big meetup every 2-3 months, a monthly (mostly) german speaking "Stammtisch" and a weekly Flutter lunch.
        .gradient
    section.contentSection
        .leftColumn
            h4 ABOUT THE EVENT
            h3 #{featured.title}
            each paragraph in featured.description
                p #{paragraph}
            include hosts.pug
        .rightColumn
            include tags.pug
            .hours
                h6 Hours
                h5 #{featured.hours}
            include share.pug
    section.allEventsSection
        include allEvents.pug
    section.jobs
        include jobs.pug