.share
    h6 Share event with friends
    .networks
        a(href="/")
            img(src="images/social-networks/linkedin.svg" alt="LinkedIn")
        a(href="/")
            img(src="images/social-networks/facebook.svg" alt="Facebook")
        a(href="/")
            img(src="images/social-networks/twitter.svg" alt="Twitter (X)")