.eventBox {
  position: absolute;
  z-index: 1;
  width: 56rem;
  margin-top: 35rem;
  padding: 2.5rem;
  background: white;
  border-radius: 1.66rem;
  box-sizing: border-box;
  box-shadow: 22px 11px 20px 0 rgba(0, 0, 0, 0.06);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
}

.eventBox .topRow {
  display: flex;
  justify-content: space-between;
}

.eventBox section {
  width: 38rem;
  padding-right: 2rem;
}

.eventBox p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.eventBox .status {
  width: 5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background: #f5f5f5;
  margin: 2rem 0;
  font-size: 1.33333rem;
}

.eventBox .location {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.eventBox figure {
  width: 9rem;
  height: 9rem;
  aspect-ratio: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0.833rem;
  background: linear-gradient(181deg, #5addfb -17.29%, #4957ff 179.66%);
}

.eventBox figure .month {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.eventBox figure .day {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}
