footer .blueContainer {
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--color-blue-3);
  color: white;
  position: relative;
}

footer .blueContainer h3 {
  width: 18rem;
  line-height: 4rem;
  margin: 2rem 0 0 0;
}

footer .blueContainer p {
  width: 40rem;
  padding: 1rem;
}
