footer .blueContainer {
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-blue-3);
  color: white;
  position: relative;
}

footer .blueContainer h3 {
  width: 18rem;
  line-height: 4rem;
  margin: 0;
}

footer .blueContainer p {
  width: 40rem;
  padding: 1rem;
}

footer .darkContainer {
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00102a;
  color: white;
}

footer .darkContainer a {
  color: white;
  font-size: 1rem;
}

footer .darkContainer .withLove a {
  font-size: 1.16666rem;
  font-weight: 600;
}

footer .darkContainer .links {
  display: flex;
  gap: 2rem;
}
