.hosts {
  margin-top: 5rem;
}

.hosts ul {
  display: flex;
  gap: 5rem;
}

.hosts ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hosts .label {
  padding: 0.3rem 0.8rem;
  border: 1px solid #adc6ff;
  border-radius: 0.3rem;
  background: #f0f5ff;
  color: #2f54eb;
  font-size: 1.33333rem;
}

.hosts .name {
  font-size: 2rem;
  font-weight: 600;
}

.hosts .role {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -1rem;
}
