@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");
@import "app.css";
@import "header.css";
@import "main.css";
@import "eventBox.css";
@import "mobile.css";

html {
  font-size: 12px; /* 16 col layout: 12px = 1rem, 1 column = 8rem */
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f8ff;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

a {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 2.83rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.33333rem;
  font-weight: 500;
  color: #595959;
  margin-bottom: 1.33333rem;
}

a {
  text-decoration: none;
}
