section.jobs {
  display: flex;
  gap: 5rem;
  padding: 8rem 8rem 0 8rem;
}

section.jobs > div {
  padding: 4rem;
  border-radius: 1.66666rem;
  background: linear-gradient(
    266deg,
    rgba(117, 148, 251, 0.12) 2.35%,
    rgba(18, 137, 204, 0.12) 103.54%
  );
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section.jobs > div h3 {
  margin: 0;
}

section.jobs p {
  font-size: 1.5rem;
}

section.jobs a {
  width: fit-content;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--color-blue-2);
  background: transparent;

  font-size: 1.16666rem;
  font-weight: 700;
  color: var(--color-blue-2);
}
