main {
  padding: 5rem 6.5rem 6.5rem 6.5rem; /* drop-shadow padding is 1.5rem */
}

.topSection {
  position: relative;
}

.header1 {
  width: 15.5rem;
  height: 5.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008ef0;
  color: white;
  font-size: 3.75rem;
  font-weight: 700;
}

.header2 {
  display: flex;
  align-items: center;
  height: 5.8rem;
  font-size: 4rem;
  font-weight: 700;
}

.desc {
  margin-top: 1.7rem;
  width: 30rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.gradient {
  width: 24.5rem;
  height: 32rem;
  transform: rotate(-112deg);
  filter: blur(105px);
  background: linear-gradient(98deg, #02b5ed 0%, #7f60f9 100%);
  opacity: 0.2;
}
