.wrapper {
  overflow: hidden; /* to cut off box-shadow */
  padding-bottom: 1.5rem;
}

header {
  height: 7.5rem;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
header a {
  display: flex;
  align-items: center;
}

.rightColumn {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.33333rem;
  font-weight: 600;
  gap: 8rem;
}
.rightColumn .events {
  color: #717d96;
  height: 100%;
  display: flex;
  gap: 2.66rem;
}
.rightColumn .events > div {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
.rightColumn .events > div.selected {
  color: #2d3648;
  font-weight: 700;
  border-bottom: 3px solid #00d5ff;
}

header .burgerMenu {
  display: none;
}
