@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f8ff;
  font-weight: 500;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}
